.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: url('../src/img/texture.jpg') */
    user-select: none;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.wrapperGame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperGameTop {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.wrapperWin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.wrapperTexte {
    display: flex;
    align-items: center;
}

.wrapperWin .wrapperScore {
    margin-left: 0;
    margin-bottom: 2rem;
}